* {
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
}

.image-1 {
  width: 100%;
}
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  opacity: 0;
  transition: all 0.2s ease;
}

.nav-wrapper ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.nav-wrapper ul li {
  display: block;
  float: none;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.nav-wrapper ul li:nth-child(1) a {
  transition-delay: 0.2s;
  margin-left: 20px;
  margin-top: 10px;
}

.nav-wrapper ul li:nth-child(2) a {
  transition-delay: 0.3s;
}

.nav-wrapper ul li:nth-child(3) a {
  transition-delay: 0.4s;
}

.nav-wrapper ul li:nth-child(4) a {
  transition-delay: 0.5s;
}

.nav-wrapper ul li:not(:first-child) {
  margin-left: 0;
}

.nav-wrapper ul li a {
  padding: 10px 24px;
  opacity: 0;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  float: left;
  transform: translateX(-20px);
  transition: all 0.2s ease;
  text-decoration: none;
}

.nav-btn {
  position: fixed;
  left: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
}

.nav-btn i {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  margin-left: 14px;
}

.nav-btn i:nth-child(1) {
  margin-top: 16px;
}

.nav-btn i:nth-child(2) {
  margin-top: 4px;
  opacity: 1;
}

.nav-btn i:nth-child(3) {
  margin-top: 4px;
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
  height: 100px;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

.logo {
  position: absolute;
  top: 2%;
  left: 45%;
  z-index: 9999;
  font-size: 30px;
}

section {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px 30px 30px 30px;
}

.content h2 {
  line-height: 30px;
  letter-spacing: -0.8px;
  font-size: 1.7em;
  margin-bottom: 17px;
  font-weight: bolder;
}

.content p {
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: -0.2px;
  color: hsl(0, 0%, 63%);
}

.shop {
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

img {
  width: 100%;
}

.about img {
  width: 100%;
  padding-bottom: 30px;
}

.last-picture {
  width: 100%;
}


.title {
  font-size: 13px;
  letter-spacing: 4.2px;
  font-weight: bolder;
  text-transform: uppercase;
}

.about p {
  padding-left: 30px;
  padding-right: 30px;
}

.about p:nth-child(3) {
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: -0.2px;
  color: hsl(0, 0%, 63%);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  top: 44%;
}

small {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
}

small a {
  color: black;
}

small a:hover {
  text-decoration: underline;
}


@media screen and (min-width: 576px) {
  section {
    width: 100%;
    
  }

  .carousel-inner,
  .about img, 
  .last-picture {
    width: calc(7em * 6);
  }

  .info {
    width: 55em;
  }
  
}

@media screen and (min-width: 768px) {
 .carousel-inner {
   width: 100vw;
 }
}

@media screen and (min-width: 861px) {
  body {
    margin: 0;
    padding: 0;
  }

  .carousel-inner {
    overflow: visible;
    padding: 0 40px 0 0;
  }

  .carousel-control-next-icon, 
  .carousel-control-prev-icon {
    position: absolute;
    top: 90%;
}

  .w-100 {
  
    height: 534px;
    object-fit: cover;
  }

  .content {
    position: absolute;
    left: 89%;
    top: 10%;
    flex-wrap: wrap;
    background: white;
    margin-left: 90px;
   
   
  }

  .content h2 {
    position: relative;
    padding: 0 0 0 40px;
  }

  .content p {
    width: 30em;
    padding: 0 40px;
  }

  .shop {
    padding: 0 0 0 40px;
  }

  .carousel-control-next {
    left: 60%;
  }

  .about {
    flex-wrap: wrap;
    background-color: white;
    
  }

  .about img {
    display: flex;
    width: 430px;
    height: 320px;
    object-fit: cover;
  }

  .about .title {
    flex-wrap: wrap;
    position: absolute;
    left: 50%; 
    
    bottom: 1%;
  }

  .about p:nth-child(3) {
    width: 29em;
    position: absolute;
    left: 48%;
    bottom: -32%;
  }

  .last-picture img {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    height: 320px;
    object-fit: cover;
    position: absolute;
    bottom: -41%;
    right: -36.2%;
    padding-bottom: 29px;

  }

  .nav-btn i {
   display: none;
    
}

 .logo {
   left: 5%;
 }

 
}

@media screen and (min-width: 1024px) {
  .content {
    left: 75%;
    /* padding-right: 20px; */
    margin-left: 99px;
  }

  .w-100 {
    width: 80%!important;
}

.about .title {
  left: 44%;
  bottom: 22%;
}

.about p:nth-child(3) {
  left: 42%;
  bottom: -5%;
}

.last-picture img {
  bottom: -14%;
  right: -23%;
  width: 470px;
  
}

.carousel-control-next {
  left: 65%;
}

.carousel-inner {
  position: relative;
}

 .nav-wrapper ul li {
  transform: rotate(180deg);
}

}

@media screen and (min-width: 1440) {
  .carousel-control-next {
    left: 90%;
  }
  .last-pic {
    left: -70%;
  }
}
